
/* etchsketchstyle.css */

:root {
   --grid-cols: 1;
   --grid-rows: 1;
}

.grid-container {
    display: grid;
    width:60%;
    height: 75vh;
    padding: 5px;
    margin: 5vh auto 5vh auto;
    grid-gap: 0rem;
    grid-template-columns: repeat(4, 10px);
    border: 5px solid black;
    border-radius: 16px;
    background-color: rgb(218, 214, 214);
    cursor: pointer;
  }

  .div {
      border-radius:0px;
      background-color:  rgb(218, 214, 214);
  }

  .RGBvalue {
     background-color: rgb(random*256);
  }

  .btn {
     margin: 1% 5% 0 0;
     padding: 15px 20px;
     background-color:navajowhite;
     color: black;
     font-size: x-large;
     font-weight: bold;
     font-family: "Courier New", Courier, monospace;
     border: solid 3px black;
     text-align: center;
  }
  
  .btn:active {
     background-color: steelblue;
     -webkit-box-shadow: inset 0px 0px 3px floralwhite;
     -moz-box-shadow: inset 0px 0px 5px floralwhite;
          box-shadow: inset 0px 0px 5px floralwhite;
  }

  .header {
     margin-left: 45vh;
     vertical-align: baseline;
     background-color: midnightblue;
     padding-bottom: 5px;
  }

  .backgroundContainer {
      background-color: midnightblue;
      height: 100%;
      width: 100%;
  }