
/* float, display: inline-block, display: table-cell, vertical-align
   and column-* properties have no effect on grid items */

.grid-container {
    width:50%;
    border: 10px solid black;
    border-radius:10px;
    background-color:rgb(175, 175, 175);
    display: grid;
    grid-gap: 0rem;
    padding: 10px;
    margin: 40px auto 0 auto;
}