
/* float, display: inline-block, display: table-cell, vertical-align
   and column-* properties have no effect on grid items */

.grid-container {
    display: grid;
    width:60%;
    height: 75vh;
    padding: 10px;
    margin: 40px auto 0 auto;
    grid-gap: 0rem;
    border: 10px solid black;
    border-radius: 10px;
    background-color: rgb(175, 175, 175);
    overflow: hidden;
  }